<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваше CV</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>

    <div class="formbold-form-wrapper">

        <div class="formbold-form-content">
            <h2>Портрет студента:</h2>
            <br>

            <div class="formbold-form-result" id="result">
                <div class = 'loader'></div>
            </div>

        </div>

    </div>

    <script src="{{url_for('static', path='js/portrait.js') }}"></script>
        
</body>
</html>
